.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.checkItem {
  background-color: rgb(138, 138, 143);
  padding-bottom: 2px;
}
input[type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
  margin: 15px;
}
.checkItemName {
  padding: 8px;
  margin: 7px;
}

input[type="checkbox"] :checked p.checkItemName{
  text-decoration: line-through;
}
